*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: space-between;
}


@font-face {
    font-family: 'Montserrat';
    src: url('C:/Учеба/simple_flowers/Flowers/flowers-app/src/fronts/Montserrat.ttf') format('truetype'); /* Укажите путь к файлу TTF */
    /* Дополнительные свойства, если нужно */
    
}





