.СatalogPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;

  width: 100%;
  height: auto;

  background: #ffffff;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  padding: 0px;
  gap: 30px 24px;

  width: 1110px;
  height: auto;
}

.loadingСard {
  display: flex;

  width: 354px;
  height: 550px;
  background: #979797c2;
}
